body {
  background-color: #fff;
}

#wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
#wrap .page {
  position: relative;
  max-width: 1516px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
#wrap .cont-txt {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
#wrap .act {
  transform: translate(0, 0);
  opacity: 1;
}
#wrap .up {
  transform: translate(0, 100px);
  transition: all 1.5s cubic-bezier(0, 0.72, 0.44, 0.99);
  opacity: 0;
}
#wrap #section01 .main-slide {
  position: relative;
  overflow: hidden;
}
#wrap #section01 .swiper-slide-active .txt-wrap {
  transform: translate(0, 0px);
  padding: 0 15px;
  opacity: 1;
}
#wrap #section01 .swiper-slide {
  position: relative;
  width: 1690px;
  height: calc(100vh - 138px);
  overflow: hidden;
}
#wrap #section01 .swiper-slide .slide-contents {
  position: absolute;
  left: 50%;
  top: calc(50% - 163px);
  transform: translate(-50%);
  z-index: 9;
  display: inline-block;
}
#wrap #section01 .swiper-slide > img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  max-width: initial;
}
#wrap #section01 .txt-wrap {
  transform: translate(0, 200px);
  transition: all 1.5s cubic-bezier(0, 0.72, 0.44, 0.99);
  opacity: 0;
}
#wrap #section01 .txt-wrap > span {
  text-align: center;
  color: #fff;
  display: block;
  word-break: keep-all;
}
#wrap #section01 .txt-wrap .sub_tit {
  font-size: 18px;
  letter-spacing: -0.9px;
}
#wrap #section01 .txt-wrap .main_tit {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -3.6px;
  margin: 20px 0 56px;
}
#wrap #section01 .txt-wrap .main_cont {
  font-size: 18px;
  line-height: 1.6;
}
#wrap #section01 .slide-nav {
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 90px;
  z-index: 99;
}
#wrap #section01 .slide-nav li {
  display: inline-block;
  width: 32.15%;
  margin-right: 1.16%;
  vertical-align: top;
  cursor: pointer;
}
#wrap #section01 .slide-nav li:last-child {
  margin-right: 0;
}
#wrap #section01 .slide-nav li.on .probar:before {
  width: 100%;
  background: #326aff;
  transition: 3s;
}
#wrap #section01 .slide-nav li.on .main_tit {
  font-weight: 700;
  color: rgb(255, 255, 255);
}
#wrap #section01 .slide-nav li.on .sub_tit {
  color: rgb(255, 255, 255);
}
#wrap #section01 .slide-nav li .probar {
  position: relative;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 14px;
}
#wrap #section01 .slide-nav li .probar:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #326aff;
  transition: 0s;
}
#wrap #section01 .slide-nav li .main_tit {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  transition: 0.3s;
}
#wrap #section01 .slide-nav li .sub_tit {
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
#wrap #section02 {
  padding: 80px 0 100px;
}
#wrap #section02 .txt_cont {
  text-align: center;
}
#wrap #section02 .txt_cont .sub_tit {
  font-size: 14px;
  font-weight: 500;
  color: rgba(65, 65, 65, 0.3);
}
#wrap #section02 .txt_cont .sub_tit .line {
  display: inline-block;
  background: #252525;
  width: 128px;
  height: 1px;
  opacity: 0.1;
  margin: 0 20px 0 18px;
  vertical-align: middle;
}
#wrap #section02 .txt_cont .main_tit {
  font-size: 58px;
  font-weight: 300;
  margin: 47px 0 20px;
  line-height: 1;
}
#wrap #section02 .txt_cont .desc {
  font-size: 18px;
  font-weight: normal;
  color: rgb(125, 125, 125);
  letter-spacing: -0.54px;
}
#wrap #section02 .contents-wrap {
  position: relative;
  margin-top: 47px;
  text-align: center;
}
#wrap #section02 .contents-wrap .cont-img {
  font-size: 0;
}
#wrap #section02 .contents-wrap .cont-img > li {
  border-radius: 20px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 22.73%;
  overflow: hidden;
  transition: 0.3s;
  margin-right: 1.2%;
}
#wrap #section02 .contents-wrap .cont-img > li:last-child {
  margin-right: 0;
}
#wrap #section02 .contents-wrap .cont-img > li:hover {
  transform: scale(1.03);
}
#wrap #section02 .contents-wrap .cont-img > li:hover .cont-txt {
  background: rgba(0, 0, 0, 0.5);
}
#wrap #section02 .contents-wrap .cont-img > li:hover .cont-txt .top_txt {
  font-size: 22px;
}
#wrap #section02 .contents-wrap .cont-img > li:hover .cont-txt .top_txt:before {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  content: "";
  background: #fff;
  opacity: 0;
  transition: 0.3s;
}
#wrap #section02 .contents-wrap .cont-img > li:hover .cont-txt .bot_txt {
  opacity: 1;
}
#wrap #section02 .contents-wrap .cont-img > li:hover .cont-txt .bot_txt ::before {
  opacity: 1;
}
#wrap #section02 .contents-wrap .cont-img > li a {
  display: block;
}
#wrap #section02 .contents-wrap .cont-img > li .cont-txt {
  padding: 35px 30px 66px;
  text-align: left;
  z-index: 9;
  transition: 0.5 ease-in;
}
#wrap #section02 .contents-wrap .cont-img > li .cont-txt > div {
  position: relative;
  width: 100%;
  height: 100%;
}
#wrap #section02 .contents-wrap .cont-img > li .cont-txt > div .top_txt {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: relative;
  display: inline-block;
  line-height: 1;
  transition: 0.3s;
}
#wrap #section02 .contents-wrap .cont-img > li .cont-txt > div .top_txt:before {
  position: absolute;
  content: "";
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  bottom: -6px;
  transition: 0.3s;
}
#wrap #section02 .contents-wrap .cont-img > li .cont-txt > div .bot_txt {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-weight: 500;
  line-height: 1.47;
  font-size: 25px;
  display: inline-block;
  opacity: 0;
  transition: 0.5s ease-in;
  letter-spacing: -2.38px;
}
#wrap #section02 .contents-wrap .cont-img > li .cont-txt img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}
#wrap #section03 {
  overflow: hidden;
}
#wrap #section03 .txt_cont {
  text-align: center;
}
#wrap #section03 .txt_cont .sub_tit {
  font-size: 14px;
  font-weight: 500;
  color: rgba(65, 65, 65, 0.3);
}
#wrap #section03 .txt_cont .sub_tit .line {
  display: inline-block;
  background: #252525;
  width: 128px;
  height: 1px;
  opacity: 0.1;
  margin: 0 20px 0 18px;
  vertical-align: middle;
}
#wrap #section03 .txt_cont .main_tit {
  font-size: 58px;
  font-weight: 300;
  margin: 47px 0 20px;
  line-height: 1;
}
#wrap #section03 .contents-wrap {
  position: relative;
  padding-top: 29px;
  height: 752px;
  text-align: center;
  transition: 0.4s;
  background-image: url("../images/main/sec02_bg_0.png");
  background-repeat: no-repeat;
  background-position: center;
}
#wrap #section03 .contents-wrap .cont-txt {
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}
#wrap #section03 .contents-wrap .cont-txt .txt_wrap {
  text-align: cener;
}
#wrap #section03 .contents-wrap .cont-txt .txt_wrap .smt_box {
  display: none;
}
#wrap #section03 .contents-wrap .cont-txt .txt_wrap .smt_box.on {
  display: block;
}
#wrap #section03 .contents-wrap .cont-txt .txt_wrap .smt_box > span {
  color: #fff;
  display: block;
}
#wrap #section03 .contents-wrap .cont-txt .txt_wrap .smt_box .sub_tit {
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: -0.9px;
}
#wrap #section03 .contents-wrap .cont-txt .txt_wrap .smt_box .main_tit {
  margin: 20px 0 19px;
  font-size: 58px;
  letter-spacing: -3.48px;
  font-weight: 300;
}
#wrap #section03 .contents-wrap .cont-txt .txt_wrap .smt_box .main_cont {
  line-height: 1.6;
  font-size: 18px;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap {
  margin-top: 7%;
  text-align: center;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap.on ul:before {
  width: 100%;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap.on ul li {
  opacity: 1;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap ul {
  position: relative;
  font-size: 0;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap ul:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 77px;
  left: 0;
  transition: 1.3s;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap li {
  opacity: 0;
  z-index: 2;
  position: relative;
  display: inline-block;
  width: 15%;
  transition: all 1s;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap li:nth-child(2) {
  transition-delay: 1.2s;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap li:nth-child(3) {
  transition-delay: 1.4s;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap li:nth-child(4) {
  transition-delay: 1.6s;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap li:nth-child(5) {
  transition-delay: 1.8s;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap li:nth-child(6) {
  transition-delay: 2s;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap li.act:before {
  opacity: 1;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap li:before {
  opacity: 0;
  z-index: -1;
  position: absolute;
  content: "";
  background: #326aff;
  padding: 120px;
  border-radius: 25px;
  left: 50%;
  bottom: -30px;
  transition: 0.5s;
  transform: translateX(-50%);
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap li .dot {
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #fff;
  margin: 29px auto 14px;
}
#wrap #section03 .contents-wrap .cont-txt .line_wrap li .main_tit {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: -1.5px;
  color: #fff;
  display: block;
  margin-bottom: 35px;
}
#wrap .section045 {
  padding: 100px 0 60px;
}
#wrap .section045 .txt_cont {
  text-align: center;
}
#wrap .section045 .txt_cont .sub_tit {
  font-size: 14px;
  font-weight: 500;
  color: rgba(65, 65, 65, 0.3);
}
#wrap .section045 .txt_cont .sub_tit .line {
  display: inline-block;
  background: #252525;
  width: 128px;
  height: 1px;
  opacity: 0.1;
  margin: 0 20px 0 18px;
  vertical-align: middle;
}
#wrap .section045 .txt_cont .main_tit {
  font-size: 58px;
  font-weight: 300;
  margin: 47px 0 20px;
  line-height: 1;
}
#wrap .section045 .txt_cont .desc {
  font-size: 18px;
  font-weight: normal;
  color: rgb(125, 125, 125);
  letter-spacing: -0.54px;
}
#wrap #section04 {
  position: relative;
}
#wrap #section04 .fix {
  display: flex;
}
#wrap #section04 .fix .sec-cat {
  display: flex;
  position: absolute;
  text-align: left;
  justify-content: center;
  min-height: 100vh;
  z-index: 9;
  left: 0;
  top: 0;
}
#wrap #section04 .fix .sec-tit {
  position: absolute;
  text-align: left;
  padding: 770px 0 0;
}
#wrap #section04 .fix .sec-tit .btn-view {
  position: relative;
  display: block;
  height: 65px;
  line-height: 63px;
  border-radius: 33px;
  border: 2px solid #326aff;
  color: #fff;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0 auto;
  width: 240px;
}
#wrap #section04 .fix .sec-tit .btn-view:hover .btn-effect {
  transform: scaleX(1);
  transform-origin: left;
  background: #326aff;
  border-radius: 33px;
}
#wrap #section04 .fix .sec-tit .btn-view .btn-effect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  display: block;
  width: 110%;
  height: 100%;
  border-radius: 33px;
  background: #326aff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#wrap #section04 .fix .sec-tit .btn-view .btn-inner .btn-title {
  background-image: url("../images/main/b_more_plus.png");
  background-repeat: no-repeat;
  background-position: 90%;
  color: #326aff;
  position: relative;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  z-index: 4;
  padding: 0 24px;
  line-height: 64px;
  text-align: left;
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86), color 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#wrap #section04 .fix .sec-tit .btn-view .btn-inner .btn-title:hover {
  background-image: url("../images/main/more_plus.png");
  background-repeat: no-repeat;
  background-position: 90%;
  border-radius: 33px;
  color: #fff;
}
#wrap #section04 .page {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
#wrap #section04 .page .smlet_ul {
  position: relative;
  display: flex;
  font-size: 0;
  height: 1695.25px;
  padding-top: 96px;
  width: 60.35%;
  flex-wrap: wrap;
  margin-right: -2.6%;
}
#wrap #section04 .page .smlet_ul li {
  position: relative;
  width: 50%;
  padding: 0 4.2%;
}
#wrap #section04 .page .smlet_ul li a {
  position: relative;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}
#wrap #section04 .page .smlet_ul li a .main_tit {
  font-size: 22px;
  font-weight: 600;
  color: rgb(52, 52, 52);
  line-height: 1;
  display: block;
  padding: 18px 0 24px;
}
#wrap #section04 .page .smlet_ul li a > img {
  border-radius: 33px;
  max-width: 100%;
  top: 0;
}
#wrap #section04 .page .smlet_hash ul {
  font-size: 0;
  padding-bottom: 53px;
}
#wrap #section04 .page .smlet_hash ul li {
  width: auto;
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
  padding: 0 18px;
  height: 38px;
  line-height: 36px;
  border-radius: 19px;
  border: solid 1px rgba(50, 106, 255, 0.5);
  color: #326aff;
  margin-bottom: 5px;
}
#wrap #section05 {
  text-align: center;
  overflow: hidden;
}
#wrap #section05 .txt_ban {
  display: block;
  color: rgba(231, 233, 235, 0.25);
  font-size: 267.5px;
  letter-spacing: -13.38px;
  line-height: 1;
  transition: 1s;
}
#wrap #section05 .txt_cont {
  text-align: left;
}
#wrap #section05 .txt_cont .sub_tit {
  font-size: 14px;
  font-weight: 500;
  color: rgba(65, 65, 65, 0.3);
}
#wrap #section05 .txt_cont .sub_tit .line {
  display: inline-block;
  background: #252525;
  width: 128px;
  height: 1px;
  opacity: 0.1;
  margin: 0 20px 0 18px;
  vertical-align: middle;
}
#wrap #section05 .txt_cont .main_tit {
  font-size: 58px;
  font-weight: 300;
  margin: 47px 0 20px;
  line-height: 1;
}
#wrap #section05 .txt_cont .desc {
  font-size: 18px;
  font-weight: normal;
  color: rgb(125, 125, 125);
  letter-spacing: -0.54px;
}
#wrap #section05 .txt_cont .sec_tit {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#wrap #section05 .txt_cont .sec_tit .btn-view {
  position: relative;
  display: block;
  height: 65px;
  line-height: 63px;
  border-radius: 33px;
  border: 2px solid #326aff;
  color: #fff;
  overflow: hidden;
  transform: translateZ(0);
  width: 240px;
}
#wrap #section05 .txt_cont .sec_tit .btn-view:hover .btn-effect {
  transform: scaleX(1);
  transform-origin: left;
  background: #326aff;
  border-radius: 33px;
}
#wrap #section05 .txt_cont .sec_tit .btn-view .btn-effect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  display: block;
  width: 110%;
  height: 100%;
  border-radius: 33px;
  background: #326aff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#wrap #section05 .txt_cont .sec_tit .btn-view .btn-inner .btn-title {
  background-image: url("../images/main/b_more_plus.png");
  background-repeat: no-repeat;
  background-position: 90%;
  color: #326aff;
  position: relative;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  z-index: 4;
  padding: 0 24px;
  line-height: 64px;
  text-align: left;
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86), color 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#wrap #section05 .txt_cont .sec_tit .btn-view .btn-inner .btn-title:hover {
  background-image: url("../images/main/more_plus.png");
  background-repeat: no-repeat;
  background-position: 90%;
  border-radius: 33px;
  color: #fff;
}
#wrap #section05 .contents-wrap {
  position: relative;
  margin-top: 39px;
}
#wrap #section05 .contents-wrap .cont-txt {
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
#wrap #section05 .contents-wrap .cont-txt .line_wrap ul {
  position: relative;
}
#wrap #section05 .contents-wrap .cont-txt .line_wrap ul:before {
  position: absolute;
  content: "";
  left: 0;
  top: 146px;
  width: 100%;
  height: 2px;
  opacity: 0.2;
  background-color: #fff;
}
#wrap #section05 .contents-wrap .cont-txt .line_wrap ul li {
  width: 22.5%;
  display: inline-block;
  vertical-align: top;
}
#wrap #section05 .contents-wrap .cont-txt .line_wrap ul li .land_logo {
  display: inline-block;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
#wrap #section05 .contents-wrap .cont-txt .line_wrap ul li .line_bar {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0;
  z-index: 5;
  background-color: #fff;
  transition: 0.5s ease-in;
  margin: 26px 0 38px;
}
#wrap #section05 .contents-wrap .cont-txt .line_wrap ul li:hover .line_bar {
  opacity: 1;
}
#wrap #section05 .contents-wrap .cont-txt .line_wrap ul li .desc {
  margin-top: 56px;
}
#wrap #section05 .contents-wrap .land_img {
  display: none;
}
#wrap #section05 .contents-wrap .land_img.on {
  display: block;
}
#wrap #section06 {
  position: relative;
  padding-top: 116px;
}
#wrap #section06 .txt_cont {
  text-align: center;
}
#wrap #section06 .txt_cont .sub_tit {
  font-size: 14px;
  font-weight: 500;
  color: rgba(65, 65, 65, 0.3);
}
#wrap #section06 .txt_cont .sub_tit .line {
  display: inline-block;
  background: #252525;
  width: 128px;
  height: 1px;
  opacity: 0.1;
  margin: 0 20px 0 18px;
  vertical-align: middle;
}
#wrap #section06 .txt_cont .main_tit {
  font-size: 58px;
  font-weight: 300;
  margin: 47px 0 20px;
  line-height: 1;
}
#wrap #section06 .txt_cont .desc {
  font-size: 18px;
  font-weight: normal;
  color: rgb(125, 125, 125);
  letter-spacing: -0.54px;
}
#wrap #section06 .slidebx .magzine_list {
  font-size: 0;
  padding-top: 50px;
  display: flex;
}
#wrap #section06 .slidebx .magzine_list li {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-right: 1%;
  height: 636px;
  width: 19%;
  transition: 0.3s;
}
#wrap #section06 .slidebx .magzine_list li .mag_img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  max-width: initial;
}
#wrap #section06 .slidebx .magzine_list li > div {
  position: relative;
  z-index: 9;
}
#wrap #section06 .slidebx .magzine_list li > div .sub_tit {
  font-size: 15px;
  color: #fff;
  display: block;
  line-height: 1;
  margin-bottom: 19px;
}
#wrap #section06 .slidebx .magzine_list li > div .main_tit {
  position: relative;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s;
}
#wrap #section06 .slidebx .magzine_list li > div .main_tit:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
  opacity: 0;
}
#wrap #section06 .slidebx .magzine_list li.on {
  width: 58%;
  transition: 0.3s;
}
#wrap #section06 .slidebx .magzine_list li.on .main_tit {
  font-size: 42px;
}
#wrap #section06 .slidebx .magzine_list li.on .main_tit:before {
  opacity: 1;
}
#wrap #section06 .slidebx .magzine_list li.on:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}
#wrap #section06 .slidebx .magzine_list li:last-child {
  margin-right: 0;
}
#wrap #footer {
  font-size: 0;
  background-color: #111b2a;
  position: relative;
}
#wrap #footer .f-top .f-main {
  padding: 97px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap #footer .f-top .f-main .sns {
  width: 30%;
}
#wrap #footer .f-top .f-main .sns ul {
  display: flex;
}
#wrap #footer .f-top .f-main .sns ul li {
  opacity: 0.3;
  border: solid 1px rgb(247, 247, 247);
  transition: 0.3s;
  border-radius: 18px;
  margin-right: 13px;
}
#wrap #footer .f-top .f-main .sns ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69px;
  height: 69px;
  line-height: 69px;
}
#wrap #footer .f-top .f-main .f-info {
  width: 40%;
  text-align: center;
}
#wrap #footer .f-top .f-main .f-info .f_logo {
  display: block;
  margin-bottom: 39px;
}
#wrap #footer .f-top .f-main .f-info .menu_li {
  display: block;
}
#wrap #footer .f-top .f-main .f-info .menu_li ul li {
  line-height: 1.6;
  position: relative;
  display: inline-block;
  padding: 0 9px;
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
#wrap #footer .f-top .f-main .family {
  width: 30%;
  text-align: right;
}
#wrap #footer .f-top .f-main .family .family_site {
  background-image: url("../images/main/down_arr_w.png");
  background-repeat: no-repeat;
  background-position: 88% center;
  position: relative;
  width: 228px;
  height: 69px;
  line-height: 67px;
  border-radius: 18px;
  border: solid 1px rgba(247, 247, 247, 0.3);
  z-index: 3;
  display: inline-block;
  text-align: left;
  transition: 0.5s;
}
#wrap #footer .f-top .f-main .family .family_site span {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 67px;
  padding: 0 26px;
  width: 100%;
  display: block;
  cursor: pointer;
  transition: color 0.5s;
}
#wrap #footer .f-top .f-main .family .family_site .family_menu {
  position: absolute;
  right: 0;
  top: 68px;
  width: 100%;
  display: none;
  z-index: -3;
}
#wrap #footer .f-top .f-main .family .family_site .family_menu ul {
  background: #fff;
  padding: 15px 26px 20px;
  border-top: 1px solid rgba(86, 93, 104, 0.2);
  border-radius: 0 0 18px 18px;
}
#wrap #footer .f-top .f-main .family .family_site .family_menu ul li {
  line-height: 35px;
}
#wrap #footer .f-top .f-main .family .family_site .family_menu ul li:hover a {
  color: #111b2a;
}
#wrap #footer .f-top .f-main .family .family_site .family_menu ul li a {
  font-size: 16px;
  color: rgba(17, 27, 42, 0.4);
  letter-spacing: -0.32px;
  transition: 0.5s;
}
#wrap #footer .f-top .f-main .family .family_site.on {
  background: #fff;
  border-radius: 18px 18px 0 0;
  border: none;
  background-image: url("../images/main/up_arr_b.png");
  background-repeat: no-repeat;
  background-position: 88% center;
}
#wrap #footer .f-top .f-main .family .family_site.on span {
  color: #111;
}
#wrap #footer .f-top .f-submenu {
  border-top: 1px solid rgba(247, 247, 247, 0.1);
  height: 55px;
  text-align: center;
}
#wrap #footer .f-top .f-submenu ul {
  font-size: 0;
  display: flex;
  justify-content: center;
  line-height: 55px;
  font-size: initial;
}
#wrap #footer .f-top .f-submenu ul li {
  padding: 0 19px;
  line-height: 55px;
  font-weight: 500;
}
#wrap #footer .f-top .f-submenu ul li a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.3);
}
#wrap #footer .f-bt {
  display: block;
  height: 39px;
  line-height: 39px;
  background: #08111f;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.2);
}

@media all and (max-width: 1280px) {
  #wrap #section01 .swiper-slide .slide-contents {
    top: 35%;
  }
  #wrap #section01 .txt-wrap .main_tit {
    margin: 10px 0 28px;
    font-size: clamp(34px, 4vw, 50px);
  }
  #wrap #section01 .txt-wrap .main_cont {
    font-size: 15px;
  }
  #wrap #section01 .slide-nav {
    bottom: 45px;
  }
  #wrap #section01 .slide-nav li {
    width: 374px;
  }
  #wrap #section01 .slide-nav li .main_tit {
    font-size: clamp(12px, 1.2vw, 16px);
  }
  #wrap #section02 .txt_cont .main_tit {
    font-size: clamp(33px, 4vw, 48px);
    margin: clamp(15px, 3vw, 47px) 0 10px;
  }
  #wrap #section02 .txt_cont .desc {
    font-size: 15px;
  }
  #wrap #section03 .txt_cont .main_tit {
    font-size: clamp(33px, 4vw, 48px);
    margin: clamp(15px, 3vw, 47px) 0 10px;
  }
}
@media all and (max-width: 1100px) {
  #wrap #section01 .slide-nav li {
    margin-right: 20px;
  }
  #wrap #section01 .slide-nav li:not(.on) {
    width: 50px;
  }
  #wrap #section01 .slide-nav li:not(.on) span {
    display: none;
  }
}
@media all and (max-width: 1024px) {
  #wrap #section02 .contents-wrap > li {
    width: 23.73%;
  }
  #wrap #section02 .contents-wrap .cont-txt {
    padding: 20px 23px 30px;
  }
}
@media all and (max-width: 980px) {
  #wrap #section01 .slide-nav li .sub_tit {
    font-size: 12px;
  }
  #wrap #section02 .page.bath-slide {
    padding-left: 0;
  }
  #wrap #section02 .contents-wrap {
    padding-left: 17px;
    margin-top: 24px;
    overflow: hidden;
  }
  #wrap #section02 .contents-wrap .cont-img {
    overflow: visible;
  }
  #wrap #section02 .contents-wrap .cont-img .swiper-slide-active .cont-txt .bot_txt {
    opacity: 1;
  }
  #wrap #section02 .contents-wrap .cont-img > li {
    margin-right: 0;
  }
  #wrap #section02 .contents-wrap .cont-img > li:hover {
    transform: none;
    box-shadow: none;
  }
  #wrap #section02 .contents-wrap .cont-img > li:hover .top_txt {
    font-size: 14px;
  }
  #wrap #section02 .contents-wrap .cont-img > li a .cont-txt .top_txt {
    font-size: 14px;
  }
  #wrap #section02 .contents-wrap .cont-img > li a .cont-txt .top_txt::before {
    opacity: 1;
  }
  #wrap #section02 .contents-wrap .cont-img > li a .cont-txt .bot_txt {
    font-size: 20px;
    bottom: auto;
    top: 44px;
  }
}
@media all and (max-width: 767px) {
  .dis-700 {
    display: none !important;
  }
  .dis-no.vis-700 {
    display: block !important;
  }
  #wrap #section01 .swiper-slide > img {
    width: 101%;
  }
  #wrap #section01 .txt-wrap .main_tit {
    line-height: 1.2;
    letter-spacing: -2.08px;
  }
  #wrap #section01 .txt-wrap .sub_tit {
    font-size: 12px;
  }
  #wrap #section01 .slide-nav li {
    margin-right: 10px;
  }
  #wrap #section01 .slide-nav li:not(.on) {
    width: 25px;
  }
  #wrap #section01 .slide-nav li:not(.on) span {
    display: none;
  }
  #wrap #section02 .txt_cont .sub_tit {
    font-size: 12px;
  }
}